 .login-container,
.login-container::before,
.login-container::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.login-container label {
  font-size: 20px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.login-box {
  background-color:  whitesmoke;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgb(191, 183, 167);
}

.login-box > h1 {
  margin-bottom: 20px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-box div {
  display: flex;
  flex-direction: column;
}

.login-box input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.login-box input::placeholder {
  font-size: 12px;
  font-style: italic;
}

.login-box button {
  background-color:purple;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}




  
 