/* src/RestaurantPage.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background: #231b1b;
    /* linear-gradient(to right, #3e4042, #090909);  */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.container:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.restaurant-image {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 4px solid #8ec5fc; /* Teal border */
    transition: transform 0.3s ease;
}

.restaurant-image:hover {
    transform: scale(1.05);
}

.title {
    font-size: 2.5em;
    margin: 0.5em 0;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
}

.details-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 1.5em auto;
    color: #666;
}

.details-list li {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background 0.3s, color 0.3s;
}

.details-list li:hover {
    background: rgba(142, 197, 252, 0.2); /* Light teal background on hover */
    color: #8e6ec5; /* Lavender text on hover */
    font-weight: 600;
}

.button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 1.1em;
    cursor: pointer;
    border: none;
    background: linear-gradient(45deg, #8e6ec5, #8ec5fc); /* Lavender to teal gradient */
    color: #ffffff;
    border-radius: 10px;
    transition: background 0.4s, transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(142, 197, 252, 0.3); /* Soft shadow with teal tint */
    font-weight: 600;
}

.button:not(:last-child) {
    margin-right: 10px;
}

.button:hover {
    background: linear-gradient(45deg, #8ec5fc, #8e6ec5); /* Reverse gradient on hover */
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(142, 197, 252, 0.4); /* More pronounced shadow on hover */
}

.button:active {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(142, 197, 252, 0.2);
}